<h1>Editing yakushoku</h1>

<%= render "form", yakushoku: @yakushoku %>

<br>

<div>
  <%= link_to "Show this yakushoku", @yakushoku %> |
  <%= link_to "Back to yakushokus", yakushokus_path %>
</div>
