<header class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <%= link_to "ComSystem", root_path, class: "navbar-brand" %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                     data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                     aria-expanded="false" aria-label="Toggle navigation">
                     
                <span class="navbar-toggler-icon"></span>
                
        </button>

        <%
=begin%>
 <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto"> 
<%
=end%>
                <li><%= link_to "Home",   root_path ,class: "nav-link"  %></li>
                <li><%= link_to "Help",   helf_path ,class: "nav-link"  %></li>
                <li><%= link_to "about",   about_path ,class: "nav-link"  %></li>
            </ul>
        <%
=begin%>
 </div>
    </div> 
<%
=end%>
</header>
